@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&family=Nunito+Sans:wght@200;400;600;700;900&family=JetBrains+Mono:ital@0;1&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: nunito, sans-serif;
  font-size: 10px;
}
ul {
  list-style: none;
  padding: none;
  margin: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
input {
  font-size: 1.6rem;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  appearance: none;
  -webkit-appearance: none;
}
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color: #d3d3d3, $alpha: 0.1);
  backdrop-filter: blur(10px);
  z-index: 1;
}
button {
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

p {
  line-height: 1.8;
}
table {
  overflow: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  a {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
  }
}
