@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&family=Nunito+Sans:wght@200;400;600;700;900&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: nunito, sans-serif;
}
html {
  font-size: 10px;
}
ul {
  list-style: none;
  padding: none;
  margin: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

p {
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  a {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
  }
}
